/*
	Para contenido en general
*/

body {
    font-family: 'Lato';    
}

.content {
    padding-top: 20%;
    text-align: center;
}

.forecast {
    width: 23%;
    float: left;
    margin: 1%;
    border: 1px solid white;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0,100,255,0.2);    
}

.boards-panel-heading {    
    border-radius: 3px;
}

.board-panel-heading {
    border-radius: 3px;
}

body .weather-icon-size {
    font-size: 40px;
}

div .glyphicon {
    pointer-events: all;
}

span .glyphicon {
    pointer-events: all;
}

#location {
    margin-top: 25%;
}

#main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#weather-header {    
    font-size: 1.2em;
    font-family: 'Pacifico', cursive;
    background-color: rgb(45, 114, 38);
    color: rgb(246, 247, 246);
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;   
}

#weather-header-actions {    
    font-size: 1.2em;
    font-family: 'Lato';'
    background-color: rgb(45, 114, 38);
    color: rgb(246, 247, 246);
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;   
}

.page-footer .weather-footer {
    text-align: center;
    line-height: 50px;    
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;    
    background-color: rgb(45, 114, 38);
    color: rgb(246, 247, 246);
    height: 50px;
    border-radius: 2px;
}

.new-board-buttons {
    margin-right: 30px;
}

.header-button {
    font-family: 'Lato';'
}

.navbar-default .navbar-nav .header-button {
    color: rgb(246, 247, 246);
}

.progress-wrapper {
        height: 450px;
        padding: 10% 0 !important;
    }

