.page        {
    bottom:0; 
    padding-top:50px;
    position:absolute;     
    top:0;  
    width:100%; 
}

.page h1{
    font-size:60px; 
}
.page a {
    margin-top:20px;
    margin-bottom:20px; 
  }
.page span { 
    font-size: 2em; 
    text-align: left;
    margin-left: 30px;
    font-weight: 900px;
}

.boards-row {
    border: 1px;
    background-color: rgba(73, 242, 73, 0.50);
    margin-top: 20px;
    border-radius: 4px;
    vertical-align: middle;
}

.boards-row a:link, a:visited {    
    text-decoration: none;
    cursor: auto;
}

.boards-row:hover {
    background-color: rgba(73, 242, 73, 0.80);
}

/* PAGES (specific colors for each page)
============================================================================= */
/*.page-boards      { background:#00D0BC; color:#00907c; }
.page-board     { background:#E59400; color:#a55400; }
.page-location   { background:#ffa6bb; color:#9e0000; }*/