/*
	Para contenido en general
*/

body {
    font-family: 'Lato';    
}

.content {
    padding-top: 20%;
    text-align: center;
}

.forecast {
    width: 23%;
    float: left;
    margin: 1%;
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(0,100,255,0.2);    
}

.boards-panel-heading {    
    border-radius: 3px;
}

.board-panel-heading {
    border-radius: 3px;
}


