<nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="pull-right">
  			<span class="glyphicon glyphicon-user"></span>
  			<span id="username-tag">{{username}}</span>
		  	<a href="/#/" class="btn btn-success btn-md grow">Logout</a>
		</div>
  	</div>
</nav>
<div class="container main-container">
	<div class="boards-header">
		<h2>
			<span><strong>Your boards</strong>({{boards.length}})</span>
		</h2>
		<a class="fa fa-plus fa-3x" title="Add new board"
			ng-click="main.addNewBoard()"></a>
	</div>
	<div class="panel-group" id="accordion">                            
        <div class="panel panel-success">
			<div ng-repeat="b in boards">
				<div class="board-row">
					<div class="panel-heading">
                        <h4 class="panel-title">          
							<div class="board-header-row">
								<div class="board-header-row-left">
									<h4><strong>{{b.description}}</strong></h4>
								</div>
								<div class="board-header-row-right">
									<a class="fa fa-plus fa-2x" title="Add location" 
										ng-click="main.editBoard(b)"></a>
									<a class="fa fa-minus fa-2x" title="Delete this board"
										ng-click="main.deleteBoard(b.id)"></a> 
									<a ng-click="checkBoardDetail(b)" class="fa fa-bars fa-2x" 
										data-toggle="collapse" data-parent="#accordion" href="boards/#{{b.id}}"
										title="See details"></a>
								</div>
							</div>
						</h4>
					</div>
					<div id="{{b.id}}" class="panel-collapse collapse">
                        <div class="panel-body">			
							<div ng-repeat="l in b.locations">
								<div class="panel-heading">
                                    <div class="panel-title">
										<div class="location-header-row">								
											<div class="location-header-row-left">
												<div class="location-header-row-left-north">
													<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><span><strong>{{l.city}}</strong>,{{l.country}}</span>
												</div>
												<div class="location-header-row-left-south">
													<span>(last update: {{l.weather.lastUpdateDateTime}})</span>
												</div>
											</div>
											<div class="location-header-row-right">
												<a class="fa fa-minus fa-2x" title="Remove this location"
													ng-click="main.deleteLocationFromBoard(b,l.woeid)"></a>
												<a ng-click="checkLocationForecast(l)" class="fa fa-bars fa-2x" data-toggle="collapse" data-parent="#accordion" href="boards/#{{b.id}}-{{$index}}"
													title="See weather details"></a>
											</div>
										</div>
									</div>		
								</div>
								<div id="{{b.id}}-{{$index}}" class="panel-collapse collapse">
                                    <div class="panel-body">
										<div class="forecasts-container">
											<div class="forecast-cols forecast grow"
												ng-repeat="f in l.weather.forecasts">
												<div class="upper-forecast">
													<div class="upper-forecast-left">
														<h2>{{f.date}}</h2>
													</div>
													<div class="upper-forecast-right">
														<h1>
															<i ng-class="main.getWeatherLogo(f.code)"
																title="{{f.description}}"></i>
														</h1>
													</div>
												</div>
												<div class="lower-forecast">
													<div class="lower-forecast-left tempNow" ng-if="$index==0">
														<h2 class="">
															<i class="wi wi-thermometer"></i>
														</h2>
														<span>{{l.weather.temperature}}</span>
													</div>
													<div class="lower-forecast-right">
														<span class="tempMin">MIN {{f.low}}</span> <span class="tempMax">MAX {{f.high}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>		
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>		
</div>

