<div class="container">
    <div ng-repeat="b in boards">
        <div class="container">
        	<div class="panel panel-success">        
                <div class="panel-heading">{{b.description}}
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-plus" title="Add locations to this board" aria-hidden="true" ng-click="main.editBoard(b)"></span>
                        <span class="glyphicon glyphicon-zoom-in" title="Check this board info" aria-hidden="true" data-toggle="collapse" data-parent="#accordion" href="boards/#{{b.id}}"></span>
                        <span class="glyphicon glyphicon-trash" title="Delete this board" aria-hidden="true" ng-click="main.deleteBoard(b.id)"></span>
                    </div>
                </div>
            </div>            
            <!--ul class="list-group">
                <li class="list-group-item" ng-repeat="l in b.locations">
                    <span class="glyphicon glyphicon-map-marker">{{l.city}},{{l.country}}</span>
                    <div class="pull-right">                                                
                        <span class="glyphicon glyphicon-chevron-down" title="Check the forecast for this location"data-toggle="collapse" data-parent="#accordion" href="boards/#{{b.id}}-{{$index}}"></span>                                        
                        <span class="glyphicon glyphicon-trash" title="Delete this location from the board" aria-hidden="true" ng-click="main.deleteLocationFromBoard(b.id,l.woeid)"></span>
                    </div>
                </li>            
            </ul-->        
        </div>
    </div>
</div>
