<div class="container"> 
    <div ng-repeat="b in boards">
        <div class="row boards-row">
            <div class="col-sm-8">
                <span>{{b.description}}</span>    
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">                        
                        <a href="#board" class="fa fa-bars fa-2x pull-right" title="See details"></a>    
                    </div>                
                </div>                  
            </div>
        </div>    
    </div>
</div>


