<div class="page">
    <div class="container">
        <div class="row">                
            <div class="col-sm-3" ng-repeat="f in location.weather.forecasts">            
                <div class="row forecast-row">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row"><span>{{f.date}}</span></div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row"><span><i ng-class="locationCtrl.getWeatherLogo(f.code)" title="{{f.description}}"></i></span></div>
                        </div>
                    </div>
                    <div class="row" ng-if="$index == 0">
                        <hr>    
                        <div class="col-sm-6">
                            <div class="row"><span class="tempNow">{{location.weather.temperature}}</span></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row"><span class="tempMin">MIN {{f.low}}</span></div>
                            <div class="row"><span class="tempMax">MAX {{f.high}}</span></div>    
                        </div>
                    </div>
                </div>                        
            </div>            
        </div>    
    </div>
</div>    

