
<div>							
	<div class="container content">
		<div ng-show="login.invalidInput">
			<p>Invalid input</p>
		</div>
		<div ng-show="login.serverError">
			<p>Error processing your request</p>
		</div>		
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="username..." ng-model="login.user.username" ng-required="true"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="password..." ng-model="login.user.password"  ng-required="true"/>
            </div>
            <button type="submit" class="btn btn-success btn-lg" ng-click="login.auth()">Login</button>
            <div>
				<a class="waves-effect waves-light btn" ng-click="login.register()">Create an account here!</a>
            </div>
        </form>
	</div>																
</div>

