<div class="container">
	<div class="row container">
		<div class="row">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-success" ng-click="main.postBoard()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save</button>
				<button type="button" class="btn btn-danger" ng-click="main.postBoard()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Save</button>
			</div>        
	    </div>
		<div class="row">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" placeholder="Board description">
			<label for="btngrp-search2" class="wb-inv">Search</label>
		  	<div class="input-group">
		    	<input type="text" class="form-control" id="btngrp-search2" placeholder="Location name" />
		    	<span class="input-group-btn">
		     		<button class="btn btn-default" type="button">Search</button>
		    	</span>
		    </div>	
		</div>
	    <div class="row">
	    	<table class="table">
	    		<th>Location</th>
	    		<tr ng-repeat="l in locations">    		
	    			<td>
	    				<span class="glyphicon glyphicon-map-marker">{{l.name}},{{l.countryShortName}}</span>
	    				<span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"/>
	    			</td>
	    		</tr>
	    	</table>
	    </div>
	</div>    
</div>