
<div>
	<div class="container content">
		<div ng-show="login.successfullRegister">
			<p>User registered successfully</p>
		</div>
		<div ng-show="login.unsuccessfullRegister">
			<p>The user is already registered</p>
		</div>
		<form>
			<div class="form-group">
				<label for="username">Username</label> <input type="text"
					id="username" placeholder="username..."
					ng-model="login.user.username" ng-required="true" />
			</div>
			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					id="password" placeholder="password..."
					ng-model="login.user.password" ng-required="true" />
			</div>
			<button type="submit" class="btn btn-success btn-lg"
				ng-click="login.register()">Register</button>
		</form>
	</div>
</div>

