<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>#WeatherChallenge</title>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
	<script type="text/javascript" th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}"></script>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/weather.css}"/>
	<link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">		
		<div class="jumbotron">
			
		</div>
	</div>
</body>
</html>
